.col-table {
    min-height: 0;
    min-width: 0;
}
.table-responsive {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
table { 
    table-layout: fixed;
    width: 100%;
}

th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
td span{
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 130px !important;
}

td > img {
    height: 100px !important;
    max-width: 200px !important;

}
