.col-table-myRepairs {
    min-height: 0;
    min-width: 0;
}
.table-div-myRepairs {
    flex-grow: 1;
    overflow-y: auto;
}

.table-div-myRepairs th {
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
th:hover, tr.tr-myRepairs {
    cursor: pointer;
}

.tr-myRepairs td:first-child span {
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 24px !important;  
}
.tr-myRepairs td span{
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 130px !important;
}
.tr-myRepairs td > img {
    display: block;
    margin: 0 auto;
    height: 100px !important;
    max-width: 200px !important;

}
@media (min-width: 992px) { 
    table.myRepairs { 
        table-layout: fixed;
    
    }
}
