.col-table-myRepairs {
    min-height: 0;
    min-width: 0;
}

.table-div-myRepairs {
    min-height: 170px;
    flex-grow: 1;
    overflow-y: auto;
}

.table-div-myRepairs th {
    width: 100%;
    padding: 0;
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

tr.tr-myRepairs {
    cursor: pointer;
}

.tr-myRepairs td:first-child span {
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 24px !important;
}

.tr-myRepairs td span {
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 130px !important;
}

.tr-myRepairs td>img {
    display: block;
    margin: 0 auto;
    height: 100px !important;
    max-width: 200px !important;
}

.repair-issue-body {
    min-height: 0;
    flex-basis: 0;
}

.ongoing-row .repair-issue {
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.ongoing-row ul {
    list-style: none;
}

.ongoing-row ul li:nth-child(odd) {
    font-size: smaller;
}

.ongoing-row .repair-device {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.onhold-row {
    height: 140px;
}

.onhold-div {
    overflow-y: hidden;
    overflow-x: scroll;
}

.onhold-card .card-title, .onhold-card .card-text {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.onhold-card .badges {
    position: absolute;
    top: 0;
    z-index: 1;
}

.onhold-image {
    display: block;
    margin: 0 auto;
    max-width: 100% !important;
    max-height: 100px !important;
}

@media (min-width: 992px) {
    table.myRepairs {
        table-layout: fixed;
    }
}

@media (min-width: 768px) {
    .ongoing-row {
        height: 150px;
    }
    .myRepairs-row {
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    .ongoing-row {
        min-height: 500px;
    }
}