.card-img {
    display: block;
    margin: 0 auto;
    max-width: 100% !important;
    height: 170px !important;
}

.card {
    height: 380px;
    width: 260px;
}

.card-body div.scroll {
    padding: 5px;
    border: lightgray solid 1px;
    height: 70px;
    text-overflow: clip;
    overflow: auto;
}

.repair-row .card:hover {
    z-index: 1;
    cursor: pointer;
    opacity: 0.6;
}

.device-name {
    height: 50px;
    overflow: auto;
}