.card-img-top {
    height: 170px ;
    width: 240px ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.card { 
    height: 380px ;
    width: 260px ;
}

.card-body div.scroll{
    padding: 5px;
    border: lightgray solid 1px;
    height: 70px;
    text-overflow: clip;
    overflow: auto;
}


.card:hover {
    z-index: 1;
    transform: scale(1.1);
    cursor: pointer;
}
.device-name {
    height: 50px;
    overflow: auto;
}