@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    width: 100vw;
    min-height: 490px;
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}
body {
    height: 100%; 
   width: 100%;
    font-family: 'Arvo', serif;
    position: relative;
    
}
#root{
    min-height: 100%;
    height: 1px;
}
#root > .container-fluid {
    height: 100%;
}
.row > .nav-col {
    min-height: 56px;
}
nav.navbar {
    font-weight: bold;
    position: fixed;
    top: 0;
    height: 56px;
    z-index: 5;
    min-width: 100vw; 
    background-color: brown;  
}


a.dropdown-toggle.nav-link {
    color: white !important;
}

nav .navbar-collapse.show {
    z-index: 1;

}

div.ml-auto.navbar-nav > a:hover , div.ml-auto.navbar-nav > div > a:hover{
    color: rgba(255, 255, 255, 0.774) !important ;
}

div.dropdown-menu.show {
   left: 0px !important;
   min-width: 100% !important;
}


div.h-100 > .row:first-child:not(.register) {
    padding-top: 70px;
    padding-bottom: 10px;
}

.status {
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}


textarea {
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    div.navbar-collapse.show {
        background-color: white;
        border: gray;  
    }
    div.navbar-collapse.show a
    {
        color: black !important;
    }
    div.ml-auto.navbar-nav a:hover {
        color: gray !important ;
    }
}