.col-table-myRequests {
    min-height: 0;
    min-width: 0;
}
.table-div-myRequests {
    overflow-y: auto
}


th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
th:hover, tr.tr-myRequests td {
    cursor: pointer;
}
.tr-myRequests td:first-child span {
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 24px !important;  
}
.tr-myRequests td span{
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 130px !important;
}


.tr-myRequests td > img {
    max-height: 100px !important;
    max-width: 100% !important;

}

@media (min-width: 992px) { 
    table.myRequests { 
        table-layout: fixed;
    
    }
}
