.product-img-repairItem {
    height: 270px;
    width: 480px;
    margin: 0 auto;
}
.details-body-repairItem {
    font-weight: normal;    
}
ul{
    list-style: none;
}

ul li:nth-child(odd){
    font-size: xx-small;
}

li a.email {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
td.repairItem a.email {
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}

li.li-container:hover a.email, td:hover a.email {
    display: inline;
    border: gray 1px solid;
    border-radius: 5px;
    padding: 3px;
    background-color: white;
    z-index: 1;
}
.issue-repairItem {
    overflow-wrap: break-word;
    overflow-y: auto !important;
}

.tech-button button{
    margin: 0 3px;
}
.table-div-repairItem {
    overflow-y: auto;
}
.table-div-repairItem table{
    table-layout: fixed;
}

table.repairItem th {
    background: white;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
table.repairItem th:hover {
    cursor: pointer;
}
.transactions-row {
    height: 100%;
}
table.repairItem td.repairItem span{
    display: block;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 75px !important
    
}

@media (min-width: 992px) {  
    .table-div-repairItem, .repair-item-info {
        max-height: 100%;
    }
    .col-table-repairItem {
        min-height: 0;
    }
}
@media (max-width: 767.98px){
    .table-responsive-sm table.repairItem{
        table-layout: auto;
    }
}
